.sidebar-teacher {
  width: 250px;
  height: 100vh;
  background: #141414;
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #ffffff22;
  transition: all 0.3s ease;
  position: relative;
}

.sidebar-teacher.collapsed {
  width: 70px;
  padding: 20px 5px;
}

/* Toggle Button */
.toggle-btn {
  position: absolute;
  top: 15px;
  right: -15px;
  background: #222;
  color: white;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid rgba(169, 100, 100, 0.267);
  transition: 0.3s;
}

.toggle-btn:hover {
  background: #333;
}

.options {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Sidebar Option */
.option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.option:hover {
  background: #1e1e1e;
  transform: translateX(5px);
}

.option.active {
  background: #212121;
  border-left: 4px solid #4ea2ff;
}

.icon {
  font-size: 1.4rem;
  color: #8ac4ff;
}

/* Collapsed Mode */
.sidebar-teacher.collapsed .option {
  justify-content: center;
  padding: 12px 0;
}

.sidebar-teacher.collapsed .option span {
  display: none;
}

.sidebar-teacher.collapsed .icon {
  margin: auto;
  font-size: 1.6rem;
}
