.student-list-wrapper {
  width: 100%;
  padding: 20px 40px;
  animation: fadeIn 0.4s ease;
}

/* --- YEAR SELECTOR --- */
.year-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.year-btn {
  padding: 12px 28px;
  background: #1c1c1c;
  border-radius: 12px;
  border: 1px solid #3c3c3c;
  color: #d6eaff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #00000055;
}

.year-btn:hover {
  background: #263341;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(78, 162, 255, 0.3);
}

.year-btn.active {
  background: #0d1e30;
  border: 1px solid #4ea2ff;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(78, 162, 255, 0.6);
  transform: translateY(-3px);
}




/* ANIMATIONS */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}